# Dictionary
A dictionary is a collection of key:value pairs placed inside curly bracket {}
Each key:value pair is known as element/item of a dictionary
Keys cannot be duplicaited, we can have deplicate values for values
If we have duplicate keys, then key is updated with latest value

In [1]:
d={1:100, 2:200, 3:300, 4:400}
print(d, type(d))

{1: 100, 2: 200, 3: 300, 4: 400} <class 'dict'>

In [3]:
#If we have duplicate keys, then key is updated with latest value
d={1:100, 2:200, 3:300, 4:400, 4:500}
print(d, type(d))

{1: 100, 2: 200, 3: 300, 4: 500} <class 'dict'>

A dictionary is a container type that can contain multiple elements
Dictionary does not folllow indexing method, hence it is not ordered collection
Here, values are mapped to keys and we can access any value using keys
Concatination, Repetition, Indexing and Slicing operations are not possible with dictionary

In [6]:
emp={'name':'Pawan', 'age':31, 'id': 12345, 'city':'Bangalore', 'company':'KPMG'}
print(emp, type(emp))

{'name': 'Pawan', 'age': 31, 'id': 12345, 'city': 'Bangalore', 'company': 'KPMG'} <class 'dict'>

In [7]:
#Accessing by key, if key not found KeyError is raised
emp['city']
emp['SomeKey']

KeyError: 'SomeKey'

# Creation of dictionry
Case 1: When we already know the elements of dictionary

In [8]:
{'Name':'Pawan', 'ID':None, 'City': 'Bangalore'}

{'Name': 'Pawan', 'ID': None, 'City': 'Bangalore'}

Case 2: using dict()
Dict function takes an iterable.
The iterable that we pass insode the dict() should have one more iterable inside it.
The inner iterable should have two elements, the first element becomes the key, second is value of the dictionary

List of list
List of tuple
Tuple of lists
tuple of tuples

In [12]:
list_of_list = [['Name', 'Pawan'], ['Age',31]]
print(dict(list_of_list))
list_of_tuples = [('Name', 'Pawan'), ('Age',31)]
print(dict(list_of_tuples))
tuple_of_tuple=(('Name', 'Pawan'), ('Age', 31))
print(dict(tuple_of_tuple))

{'Name': 'Pawan', 'Age': 31}
{'Name': 'Pawan', 'Age': 31}
{'Name': 'Pawan', 'Age': 31}

#enumerate()
It takes an iterable as an argument
It returns an inumerate object
Matches element of the iterable from 0 to len(iterable)-1

In [15]:
a='python'
e=enumerate(a)
print(e)
print(list(e))

<enumerate object at 0x108072ca0>
[(0, 'p'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [14]:
a='python'
e=enumerate(a)
print(e)
print(tuple(e))

<enumerate object at 0x103b19f30>
((0, 'p'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n'))

In [18]:
print(id(e))
int(0x103b19f30)

4429655200

4356939568

In [20]:
#Create a dict where index is the key and elements of list are values
list_1 = [True, 'Python', 10, False, None, (1,2,3)]
dict(enumerate(list_1))

{0: True, 1: 'Python', 2: 10, 3: False, 4: None, 5: (1, 2, 3)}

#Zip()
It takes 2 or more iterables as arguments
It maps all the elements of all iterables one by one in sequence and returns a zip of it
To fetch values, we can pass zip object to list(), tuple(), dict()
*Note*: While creating a dict, the zip() should have only 2 iterables to map for key and value 

Element by element mapping, use zip()

In [23]:
a='abcde'
lst=[10,20,30,40,50]
z = zip(a, lst)
print(z, type(z))
t = tuple(z)
print(t, type(t))

<zip object at 0x108078980> <class 'zip'>
(('a', 10), ('b', 20), ('c', 30), ('d', 40), ('e', 50)) <class 'tuple'>
{} <class 'dict'>

In [25]:
a='abcde'
lst=[10,20,30,40,50]
z = zip(a, lst)
print(z, type(z))
d = dict(z)
print(d, type(d))

<zip object at 0x1080786c0> <class 'zip'>
{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50} <class 'dict'>

In [26]:
a='abcd'
b=[10, 20, 30, 40]
c=(1000, 2000, 3000, 4000)
z = zip(a,b,c)
print(list(z))

[('a', 10, 1000), ('b', 20, 2000), ('c', 30, 3000), ('d', 40, 4000)]

# EVAL()
Using eval makes it easier to take inouts from user

In [1]:
a=eval('{1,2,3}')
print(a, type(a))

{1, 2, 3} <class 'set'>

In [2]:
d=eval(input("Enter a dictionary - "))
print(d, type(d))

{1: 100, 2: 200, 3: 300} <class 'dict'>

In [5]:
keys =[]
value =[]

for i in range(4):
    a = eval(input("Enter a key - "))
    keys += [a]

    b = eval(input("Enter a value - "))
    value += [b]

d = dict(zip(keys,value))
print(d, type(d))

{1: 100, 2: 200, 3: 300, 4: 400} <class 'dict'>

# Case 4: Dictionary Comprehension
It is a easier way to create a dictionary using loops
{for loop} - dict Comprehension
{key:value for loop}

In [9]:
#Create dict where 1-10 are keys, theier squares are values
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [12]:
#Create dict where 1-10 are values, theier squares are keys
d1 = {i**2:i for i in range(1,11)}
print(d1, type(d1))

{1: 1, 4: 2, 9: 3, 16: 4, 25: 5, 36: 6, 49: 7, 64: 8, 81: 9, 100: 10} <class 'dict'>

In [13]:
#Create dit, where keys are numbers divisible by 3 not by 5 from 1 to 20 and their cubes are values

{i:i**3 for i in range(1,21) if i%3==0 and i%5==0}

{15: 3375}

In [15]:
#{ternary operator for loop}
# Create dict, where numbers (1,10) are keys, values are squares of even keys and cubes of odd keys

{ i:i**2 if i%2==0 else i**3 for i in range(1,11) }

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100}

In [17]:
#Reverse scenario
{ i**2 if i%2==0 else i**3:i for i in range(1,11) }

{1: 1, 4: 2, 27: 3, 16: 4, 125: 5, 36: 6, 343: 7, 64: 8, 729: 9, 100: 10}

In [18]:
{i: chr(i) for i in range(65,91) if chr(i) in 'AEIOU'}

{65: 'A', 69: 'E', 73: 'I', 79: 'O', 85: 'U'}

In [21]:
#Print all consonents
{ i:chr(i) for i in range(65,91) if chr(i) not in ['A','E','I','O','U'] }

{66: 'B',
 67: 'C',
 68: 'D',
 70: 'F',
 71: 'G',
 72: 'H',
 74: 'J',
 75: 'K',
 76: 'L',
 77: 'M',
 78: 'N',
 80: 'P',
 81: 'Q',
 82: 'R',
 83: 'S',
 84: 'T',
 86: 'V',
 87: 'W',
 88: 'X',
 89: 'Y',
 90: 'Z'}

In [29]:
#Create dict, where keys are odd ASCII values between 80 to 100 and values are characters at those ASCII values
d1 = { i:chr(i) for i in range(80,101) if i%2==1 }

d2 = { i:chr(i) for i in range(80,101,2) }

print(d1)
print(d2)

{81: 'Q', 83: 'S', 85: 'U', 87: 'W', 89: 'Y', 91: '[', 93: ']', 95: '_', 97: 'a', 99: 'c'}
{80: 'P', 82: 'R', 84: 'T', 86: 'V', 88: 'X', 90: 'Z', 92: '\\', 94: '^', 96: '`', 98: 'b', 100: 'd'}

# Mapping multiple values to a key in dict

In [32]:
d ={
    'a':['A','B','C'],
    'b':[1,2,3],
    'c':[1000,2000,3000]
}

import pandas as pd
pd.DataFrame(d)

   a  b     c
0  A  1  1000
1  B  2  2000
2  C  3  3000

# Nested Dictionaries

In [33]:
emp_details = {'emp1':{'Pawan', 'HR', 35000},
               'emp2':{'Pawan2', 'HR1', 45000},
               'emp3':{'Pawan3', 'HR2', 55000},}
print(emp_details)

{'emp1': {35000, 'Pawan', 'HR'}, 'emp2': {45000, 'HR1', 'Pawan2'}, 'emp3': {55000, 'HR2', 'Pawan3'}}