# Pandas
- Pandas is a python library that is used to manipulate the data
- Pandas stands for Panel data

# In Pandas we work on 2 types of objects
- Series
- Datarame 

# Series
- A series is like a 1D structure
- It can be considered as a column from an excel table
- A column without headre is series

In [2]:
import pandas as pd
pd.__version__

'1.5.3'

## Creating series
pd.series()

### Creating series using a list or tuple
- Series contains 2 objects 
1. Index object
2. Values
- In series, we cannot have headers

In [4]:
lst=[10,20,30,40,50,60,70,80]
s=pd.Series(lst)
s
#First object displayed is index, second one is data

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
dtype: int64

## Attributes on a series

### Size
- It returns number of elements from a series

### dtype
- It returns the datatype of values that the series contains

### ndim
- It returns the dimention os the array

### shape
- It returns the shape of the array

### index
- It returns the index object that contains indeces of the series

### values
- It returns an array that contains the values from the series

### name
- It is used to name a series

In [5]:
s.size

8

In [6]:
s.dtype

dtype('int64')

In [7]:
s.ndim

1

In [8]:
s.shape

(8,)

In [9]:
s.index

RangeIndex(start=0, stop=8, step=1)

In [10]:
s.values

array([10, 20, 30, 40, 50, 60, 70, 80])

In [15]:
s.name = 'Numbers'
s.name
s

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
Name: Numbers, dtype: int64

# Creating series using dictionaties

- When we create series using a dict, then keys of the dict becomes index and the values of dict is the series values

In [11]:
dict = {'ID':101, 'Name':'Suresh', 'age':31, 'company':'MS'}
ds = pd.Series(dict)
ds

ID            101
Name       Suresh
age            31
company        MS
dtype: object

In [12]:
# Unlike earlier list object, index property returns the actual key value instead of range value
ds.index

Index(['ID', 'Name', 'age', 'company'], dtype='object')

# Indexes of a series 

1. Implicit indexes (Pandas defined) length = 0 to len(ser)-1
2. Explicit indexes (User defined). These are also called as labels

In [18]:
names = ('A', 'B', 'C', 'D', 'E', 'F')
s = pd.Series(names)
s

0    A
1    B
2    C
3    D
4    E
5    F
dtype: object

In [19]:
s.index #Implicit index

RangeIndex(start=0, stop=6, step=1)

In [20]:
ds.index #Explicit index

Index(['ID', 'Name', 'age', 'company'], dtype='object')

### How to pass user defined indexes(labels)

In [21]:
names

('A', 'B', 'C', 'D', 'E', 'F')

In [22]:
id = [1,2,103,4,5,106]
id

[1, 2, 103, 4, 5, 106]

In [23]:
s = pd.Series(names, index=id)
s

1      A
2      B
103    C
4      D
5      E
106    F
dtype: object

In [24]:
s = pd.Series(names, index=['a','b','c','d','e','f'])
s

a    A
b    B
c    C
d    D
e    E
f    F
dtype: object

In [26]:
#Index for arrays using series
import numpy as np
ser = pd.Series(np.array([1000,2000,3000,4000,5000]))
print(ser.index)
print(ser)

RangeIndex(start=0, stop=5, step=1)
0    1000
1    2000
2    3000
3    4000
4    5000
dtype: int64

In [27]:
countries = ['India', 'Russia', 'Vietname', 'China', 'UK', 'Japan', 'Indonesia']
capitals = ['Delhi', 'Moscow', 'Hanoi', 'Beijing', 'London', 'Tokyo', 'Jakarta']

#Countries should be the index, capitals values
s_capital = pd.Series(countries, index=capitals)
s_capital

Delhi          India
Moscow        Russia
Hanoi       Vietname
Beijing        China
London            UK
Tokyo          Japan
Jakarta    Indonesia
dtype: object

# Accessing elements from a series

## s[index] : Has limitations

## iloc
- It stands for index location
- It is used to fetch values on basis of implicit index

## loc
- It stands for location
- It is used to fetch values on basis of explicit index

In [31]:
s_capital

Delhi          India
Moscow        Russia
Hanoi       Vietname
Beijing        China
London            UK
Tokyo          Japan
Jakarta    Indonesia
dtype: object

In [38]:
print(s_capital.loc['Delhi'])

print(s_capital.iloc[2])

India
Vietname

# Slicing
- s.iloc[start:stop:step] for implicit indexes
- s.loc[start:stop:step] for explicit indexes, stop is excluded

### IMP
### Series created using explicit indeces (dict) also have implicit index along with explicit index(iloc) which can be accessed via loc

In [41]:
ser

0    1000
1    2000
2    3000
3    4000
4    5000
dtype: int64

In [40]:
ser.loc[0:2]

0    1000
1    2000
2    3000
dtype: int64

In [42]:
s_capital.iloc[::-1]

Jakarta    Indonesia
Tokyo          Japan
London            UK
Beijing        China
Hanoi       Vietname
Moscow        Russia
Delhi          India
dtype: object

In [48]:
s_capital.loc['Moscow':'Tokyo']

Moscow       Russia
Hanoi      Vietname
Beijing       China
London           UK
Tokyo         Japan
dtype: object

In [50]:
s_capital.loc['Moscow':'Tokyo': -1]

Series([], dtype: object)

# Operations on series

In [51]:
arr = np.random.randint(10,100, 20)
num = pd.Series(arr)
num

0     15
1     23
2     46
3     77
4     76
5     97
6     56
7     99
8     72
9     83
10    99
11    34
12    53
13    41
14    67
15    50
16    72
17    52
18    16
19    96
dtype: int64

In [54]:
print(num.sum())
print(num.min())
print(num.max())

1224
15
99

# Sorting a series

In [55]:
num.sort_values()
#Indexes are also shifted while sorting, here data is not changes

0     15
18    16
1     23
11    34
13    41
2     46
15    50
17    52
12    53
6     56
14    67
16    72
8     72
4     76
3     77
9     83
19    96
5     97
7     99
10    99
dtype: int64

In [56]:
num.sort_index()

0     15
1     23
2     46
3     77
4     76
5     97
6     56
7     99
8     72
9     83
10    99
11    34
12    53
13    41
14    67
15    50
16    72
17    52
18    16
19    96
dtype: int64

In [57]:
num.sort_values(ignore_index=True)
#Here indexes are redifined, but underneath data is not changed

0     15
1     16
2     23
3     34
4     41
5     46
6     50
7     52
8     53
9     56
10    67
11    72
12    72
13    76
14    77
15    83
16    96
17    97
18    99
19    99
dtype: int64

In [58]:
num

0     15
1     23
2     46
3     77
4     76
5     97
6     56
7     99
8     72
9     83
10    99
11    34
12    53
13    41
14    67
15    50
16    72
17    52
18    16
19    96
dtype: int64

In [59]:
num.sort_values(ascending=False, ignore_index=True)

0     99
1     99
2     97
3     96
4     83
5     77
6     76
7     72
8     72
9     67
10    56
11    53
12    52
13    50
14    46
15    41
16    34
17    23
18    16
19    15
dtype: int64